@import "../variables.scss";


  .grid-sabores {
    display: grid;
    background: $color-gray;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-product{
    display: grid;
    background: $color-gray;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-check {
    background-color: white;
    font-family: "Inter";
    display: grid;
    max-width: 150px;
    margin: auto auto 10px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 138px;
    width: 152px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    padding: 1rem;


}
.card-img{
    border-radius: 10px;
    margin: 5px;
}
.card-text-check{
  color: $color-primary;
  font-family: "Inter";
  text-align: justify;
  margin-left: 10px;
  display: block;
  height: 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;

}
.card-body-check> h1{
  padding: 15px;
  font-weight: bold;
  text-align: justify
}
.card-body-producto{
    height: 103px;
    width: 312px;
    left: 1px;
    top: 209px;
    border-radius: 0px;
    text-align: center;
}
.card-product{
    font-family: "Inter";
    display: block;
    max-width: 300px;
    margin: auto auto 10px;
    height: 112px;
    width: 312px;
    left: 22px;
    top: 30px;
    border-radius: 20px;
    padding: 10px;
}
.img-product{
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  margin: 40px;
  padding:0px;

}
.product{
  margin-left: auto;
  margin-right: auto;
}
.combos{
 margin-top: 30px;
 float: center;
}