@import "../variables.scss";


.card {
    background-color: white;
    font-family: "Inter";
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 16px;
    max-width: 300px;
    margin: auto auto 10px;
    height: 112px;
    width: 312px;
    left: 22px;
    top: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.card-img{
    border-radius: 10px;
    margin: 5px;
}
.card-text{
  color: $color-primary;
  font-family: "Inter";
  text-align: justify;
  margin-left: 10px;
  
}
.card-body > h1{
  padding: 15px;
  font-weight: bold;
  text-align: justify
}
 .nav-product{
      background-color: #fff;
      font-family: "Inter";
      font-size: 1rem;
      color: $color-gray;
      padding: 1rem;
      display:inline-flex;
      align-content: center;
      white-space: pre;
 }
 .nav-product{
    text-decoration: none;
    background-image: linear-gradient(currentColor, $color-primary);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
 }
 .nav-product:hover, .nav-product:focus {
  background-size: 100% 2px;  
}