// colors
$color-black: #0d0d0d;
$color-primary: #fa4a0c;
$color-blue: #a3e0d8;
$color-gray: #f2f2f2;
$color-yellow: #fcb235;
$color-pink: #f18f8c;
$color-brown: #410f18;
$color-gray-gray: rgb(209, 209, 209);
